# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
alembic=1.4.3=pypi_0
aniso8601=8.0.0=pypi_0
appdirs=1.4.4=pypi_0
argon2-cffi=20.1.0=py38h7b6447c_1
async_generator=1.10=py_0
attrs=20.2.0=py_0
backcall=0.2.0=py_0
blas=1.0=mkl
bleach=3.2.1=py_0
boto3=1.16.4=pypi_0
botocore=1.19.4=pypi_0
brotlipy=0.7.0=py38h7b6447c_1000
ca-certificates=2020.6.20=hecda079_0
certifi=2020.6.20=py38h924ce5b_2
cffi=1.14.3=py38he30daa8_0
chardet=3.0.4=py38_1003
click=7.1.2=pypi_0
cloudpickle=1.6.0=pypi_0
coverage=5.3=pypi_0
cryptography=3.1.1=py38h1ba5d50_0
databricks-cli=0.13.0=pypi_0
decorator=4.4.2=py_0
defusedxml=0.6.0=py_0
dill=0.3.2=pypi_0
distlib=0.3.1=pypi_0
docker=4.3.1=pypi_0
dotmap=1.3.0=pypi_0
elastic-apm=5.9.0=pypi_0
elasticsearch=7.9.1=pypi_0
entrypoints=0.3=pypi_0
faiss-cpu=1.6.4=pypi_0
farm=0.4.9=pypi_0
farm-haystack=0.4.0=pypi_0
fastapi=0.61.1=pypi_0
filelock=3.0.12=pypi_0
flask=1.1.2=pypi_0
flask-cors=3.0.9=pypi_0
flask-restplus=0.13.0=pypi_0
future=0.18.2=pypi_0
gitdb=4.0.5=pypi_0
gitpython=3.1.11=pypi_0
gunicorn=20.0.4=pypi_0
h11=0.11.0=pypi_0
idna=2.10=py_0
importlib-metadata=2.0.0=py_1
importlib_metadata=2.0.0=1
intel-openmp=2020.2=254
ipykernel=5.3.4=py38h5ca1d4c_0
ipython=7.18.1=py38h5ca1d4c_0
ipython_genutils=0.2.0=py38_0
ipywidgets=7.5.1=pyh9f0ad1d_1
itsdangerous=1.1.0=pypi_0
jedi=0.17.2=py38_0
jinja2=2.11.2=py_0
jmespath=0.10.0=pypi_0
joblib=0.17.0=pypi_0
json5=0.9.5=py_0
jsonschema=3.2.0=py_2
jupyter_client=6.1.7=py_0
jupyter_core=4.6.3=py38_0
jupyterlab=2.2.6=py_0
jupyterlab_pygments=0.1.2=py_0
jupyterlab_server=1.2.0=py_0
langdetect=1.0.8=pypi_0
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libsodium=1.0.18=h7b6447c_0
libstdcxx-ng=9.1.0=hdf63c60_0
lxml=4.6.1=pypi_0
mako=1.1.3=pypi_0
markupsafe=1.1.1=py38h7b6447c_0
mistune=0.8.4=py38h7b6447c_1000
mkl=2020.2=256
mkl-service=2.3.0=py38he904b0f_0
mkl_fft=1.2.0=py38h23d657b_0
mkl_random=1.1.1=py38h0573a6f_0
mlflow=1.0.0=pypi_0
nbclient=0.5.1=py_0
nbconvert=6.0.7=py38_0
nbformat=5.0.8=py_0
ncurses=6.2=he6710b0_1
nest-asyncio=1.4.1=py_0
notebook=6.1.4=py38_0
numpy=1.19.1=py38hbc911f0_0
numpy-base=1.19.1=py38hfa32c7d_0
openssl=1.1.1h=h516909a_0
packaging=20.4=py_0
pandas=1.1.3=pypi_0
pandoc=2.11=hb0f4dca_0
pandocfilters=1.4.2=py38_1
parso=0.7.0=py_0
pexpect=4.8.0=py38_0
pickleshare=0.7.5=py38_1000
pip=20.2.4=py38_0
pluggy=0.13.1=pypi_0
prometheus_client=0.8.0=py_0
prompt-toolkit=3.0.8=py_0
protobuf=3.13.0=pypi_0
psutil=5.7.2=pypi_0
psycopg2-binary=2.8.6=pypi_0
ptyprocess=0.6.0=py38_0
py=1.9.0=pypi_0
pycparser=2.20=py_2
pydantic=1.6.1=pypi_0
pygments=2.7.1=py_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=py_0
pyrsistent=0.17.3=py38h7b6447c_0
pysocks=1.7.1=py38_0
python=3.8.5=h7579374_1
python-dateutil=2.8.1=py_0
python-docx=0.8.10=pypi_0
python-editor=1.0.4=pypi_0
python-multipart=0.0.5=pypi_0
python_abi=3.8=1_cp38
pytz=2020.1=pypi_0
pyyaml=5.3.1=pypi_0
pyzmq=19.0.2=py38he6710b0_1
querystring-parser=1.2.4=pypi_0
readline=8.0=h7b6447c_0
regex=2020.10.23=pypi_0
requests=2.24.0=py_0
s3transfer=0.3.3=pypi_0
sacremoses=0.0.43=pypi_0
scikit-learn=0.23.2=pypi_0
scipy=1.5.3=pypi_0
send2trash=1.5.0=py38_0
sentencepiece=0.1.94=pypi_0
seqeval=1.2.2=pypi_0
setuptools=50.3.0=py38hb0f4dca_1
simplejson=3.17.2=pypi_0
six=1.15.0=py_0
sklearn=0.0=pypi_0
smmap=3.0.4=pypi_0
sqlalchemy=1.3.20=pypi_0
sqlalchemy-utils=0.36.8=pypi_0
sqlite=3.33.0=h62c20be_0
sqlparse=0.4.1=pypi_0
starlette=0.13.6=pypi_0
tabulate=0.8.7=pypi_0
terminado=0.9.1=py38_0
testpath=0.4.4=py_0
threadpoolctl=2.1.0=pypi_0
tika=1.24=pypi_0
tk=8.6.10=hbc83047_0
tokenizers=0.8.1rc2=pypi_0
toml=0.10.1=pypi_0
torch=1.6.0=pypi_0
tornado=6.0.4=py38h7b6447c_1
tox=3.20.1=pypi_0
tqdm=4.50.2=pypi_0
traitlets=5.0.5=py_0
transformers=3.1.0=pypi_0
urllib3=1.25.11=py_0
uvicorn=0.12.2=pypi_0
virtualenv=20.0.35=pypi_0
wcwidth=0.2.5=py_0
webencodings=0.5.1=py38_1
websocket-client=0.57.0=pypi_0
werkzeug=0.16.1=pypi_0
wget=3.2=pypi_0
wheel=0.35.1=py_0
widgetsnbextension=3.5.1=py38h32f6830_4
xz=5.2.5=h7b6447c_0
zeromq=4.3.3=he6710b0_3
zipp=3.3.1=py_0
zlib=1.2.11=h7b6447c_3
